:root {
  --font-1: "MonoLisa", sans-serif;
}

@font-face {
  font-family: "MonoLisa";
  src: url("./fonts/subset-MonoLisa-Regular.woff2") format("woff2"),
    url("./fonts/subset-MonoLisa-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
