@import url("reset.css");
@import url("spacing.css");
@import url("layout.css");
@import url("fonts.css");
@import url("header.css");

/* VARIABLES */
:root {
    /*colors*/
    --dark: #334;
    --primary: #dec;
    --accent: #cd8;
    --accent-darker: #A3B16D;
    --menu-background: #2a2a3aaa;
    /*settings*/
    --header-height: 50px;
    --space-1: 1rem;
    --space-2: 2rem;
    --space-3: 4rem;
    --space-4: 6rem;
    /*DONT CHANGE*/
    --menu: 0;
}

/* GENERAL */
html {
    padding-top: var(--header-height)
}

body {
    background-color: var(--dark);
    color: var(--primary);
    font-family: var(--font-1);

}

#wrapper {
    position: absolute;
    top: var(--header-height);
    overflow: auto;
    height: calc(100% - var(--header-height));
    width: 100%;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

a {
    color: var(--accent);
}

a:hover,
a:focus,
a:active {
    color: var(--accent-darker);
}


::-webkit-scrollbar {
    width: 11px;
}

#wrapper,
#menu {
    scrollbar-width: thin;
    scrollbar-color: var(--accent) transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* --- */

main {
    margin-top: auto;
    margin-bottom: auto;
}

main>* {
    height: 100vh;
}